@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

:root {
  --poppins: 'Poppins', sans-serif;
  --main: #1b1b1b;
}

@theme {
  --font-poppins: var(--poppins);
  --color-main: var(--main)
}

body {
  font-family: 'Poppins', sans-serif;

}

.slick-dots li button:before{
  color: gray;
  opacity: 1;
  font-size: 12px;
  @apply transition-colors duration-300 ease-in-out mt-2
}
.slick-dots li.slick-active button:before{
  color: rgb(188, 188, 188);
  opacity: 1;
}

.link {
  @apply transition-colors duration-300 ease-in-out
}

.link:hover{
  @apply text-white/70
}

.title{
  @apply relative
}

.title::after {
  content: "";
  @apply absolute -bottom-1 h-0.5 opacity-70 bg-white/70 mt-1 w-full left-0
}

h2.banner {
  /* letter-spacing: 20px; */
  color: transparent;
  opacity: .3;
  font-weight: 700;
  font-style: italic;
  background: linear-gradient(to bottom, white, transparent 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.goBack:hover {
  @apply text-blue-600
}

.box {
  animation: 2s ease-in-out anim;
}

@keyframes anim {
  0% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }

}
